@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

body {
    background-image: url(./background.jpg);
}

h1 { 
    font-family: 'Coda', cursive, Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 40px;
    color: #FFF;
}

#box {
    background-image: url(./itachi.png);
    width: 359px; 
    height: 500px; 
    position: absolute; 
    left: 10px; 
    top: 10px; 
}